body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #E0E0E0; /* Gris Clair Principal */
  color: #7f7786; /* Gris foncé pour le texte */
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #7f7786; /* Nouveau fond pour les boutons */
  color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b8908f; /* Nouveau fond au survol */
}

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}
