body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #E0E0E0; /* Gris Clair Principal */
  color: #7f7786; /* Gris foncé pour le texte */
}

h1, h2, h3, h4, h5, h6 {
  color: #b8908f; /* Nouvelle couleur pour les titres */
}

button {
  background-color: #7f7786; /* Nouvelle couleur pour les boutons */
  color: #FFFFFF; /* Texte blanc sur les boutons */
}

button:disabled {
  background-color: #A9A9A9; /* Gris moyen pour les boutons désactivés */
}
